# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List popular languages for Data Science
- List 3 Data Science Tools
- List commonly used libraries used by Data Scientists

## Author
Rhea Mae D. Alforque

Some of the popular languages that Data Scientists use are:
1. Python
2. R  
3. C++ 
4. Java 
5. SQL 
6. Javascript
7. Julia 
8. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy  
3. NumPy 
4. Seaborn 
5. Scikit-learn  
6. TensorFlow  
7. Matplotlib

| Data Science Tools |
   |------|
   |Jupyter Notebook|
   |RStudio|
   |Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
convert_min_to_hrs = minutes/60
print(convert_min_to_hrs)

3.3333333333333335